<div class="container">
  <div id="app">
  </div>
</div>
<% if flash[:notice] %>
<div class="notice"<%= flash[:notice] %></div>
<% end %>

<div>
  <% if @user != nil %>
    <% user_musician = Musician.find_by(user_id: @user.id) %>
    <% if user_musician.id == @musician.id %>
    <div>
      <a href="/bands/new">
        <button class="button" style="vertical-align:center">
          Start a New Band!
        </button>
      </a>
    </div>
      <% band_list = "Your Bands" %>
    <% else %>
      <% band_list = "Musician's Bands" %>
    <% end %>
  <% else %>
    <% band_list = "Musician's Bands" %>
  <% end %>

  <div class= "bands-info">
    <h4><%= band_list %></h4>
    <% memberships = BandMember.where(musician_id: @musician.id) %>
    <% memberships.each do |membership| %>
      <% band = Band.find_by(id: membership.band_id)%>
      <a href="/bands/<%= band.id %>">
        <div class="musician-bands-card">
          <li><%= band.band_name %></li>
        </div>
      </a>
    <% end %>
  </div>
</div>
