<div>
  <h1>Bands in Your Scene:</h1>
    <div class="index-container">
      <% @bands.each do |band| %>
        <a href="/bands/<%= band.id %>" >
          <div class="card card-1">
            <h4>
            <%= "#{band.band_name}" %>
            </h4>
          </div>
        </a>
      <% end %>
    </div>
</div>
