
<% if @current_user == nil %>
  <% welcome_tile = "Log-In" %>
  <% path = "/users/sign_in" %>
<% elsif Musician.find_by(user_id: @current_user.id) == nil%>
  <% welcome_tile = "Create a Musician Profile" %>
  <% path = "/musicians/new" %>
  <% start_band_path = "/musicians/new" %>
<% else %>
  <% welcome_tile = "Musician Profile" %>
  <% musician = Musician.find_by(user_id: @current_user.id) %>
  <% path = "/musicians/#{musician.id}" %>
  <% start_band_path = "/bands/new" %>
<% end %>



<div>
  <div><h5><b>Welcome to</b></h5></div>
  <h1><b>Bandit</b></h1>
  <div class="index-container">
    <a href= <%= "#{path}" %> >
      <div class="card card-1">
        <h4 class="text-center"> <%= welcome_tile %> </h4>
      </div>
    </a>

    <a href="/bands">
      <div class="card card-1">
        <h4 class="text-center">Bands</h4>
      </div>
    </a>

    <a href="/gigs">
      <div class="card card-1">
        <h4 class="text-center">Gigs</h4>
      </div>
    </a>

    <a href="/musicians">
      <div class="card card-1">
        <h4 class="text-center">Musicians</h4>
      </div>
    </a>

    <a href= <%= "#{start_band_path}" %> >
      <div class="card card-1">
        <h4 class="text-center">Start a Band!</h4>
      </div>
    </a>
  </div>
</div>
