<div><h3><b>Welcome to Bandit</b></h3></div>
<a href="/users/sign_in">
  <div class="card card-1">
    <p>Log-In</p>
  </div>
</a>
<a href="/bands">
  <div class="card card-1">
    <p>Bands</p>
  </div>
</a>
<a>
  <div class="card card-1">
    <p>Gigs</p>
  </div>
</a>
<a href="/musicians">
  <div class="card card-1">
    <p>Musicians</p>
  </div>
</a>
