<div><h3><b>Welcome to Bandit</b></h3></div>

<div class="card card-1">
  <a>Log-In</a>
</div>
<div class="card card-1">
  <a>Bands</a>
</div>
<div class="card card-1">
  <a>Gigs</a>
</div>
<div class="card card-1">
  <a>Wanted Ads</a>
</div>
